body {
    /*font-size: 16px;*/

    background-color: #f5faf9;
}

a {
    color: #17a2b8;
}

a:hover {
  color: #128293;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #128293;
  border-color: #128293;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px #17a2b880
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #128293;
  border-color: #128293;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px #17a2b880
}

.card {
    border: 1px solid rgba(0, 88, 102, 0.12);
}

.list-group-transparent .list-group-item.active {
    background: hsla(188, 59%, 54%, 0.06);
}

.list-group-item.active {
    color: #17a2b8;
    border-color: rgba(0, 40, 100, 0.12);
}

.nav-tabs .nav-link.active {
    color: #128293;
}

.staff-menu-bar .nav-tabs .nav-link {
    text-align: center;
    border: 0;
    opacity: 0.7;
    margin-bottom: 0;
    padding: 12px 18px;
}

.staff-menu-bar .nav-tabs .nav-link.active {
    background: #f5faf9;
    opacity: 1;
}

.staff-menu-bar .nav-tabs .nav-link:hover:not(.disabled):not(.active) {
    color: inherit;
    background-color: #128293;
}

.course-details .card-header{
    min-height: 230px;
    background-size: cover;
    background-position: center;
}

.forum-avatar {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 4px;
}

.forum-avatar .fas {
    color: #FFF;
    opacity: 0.7;
    font-size: 60px;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    width: 100px;
}


.lesson-body iframe {
    max-width: 100%;
}

.lesson-body img {
    max-width: 100%;
    height: auto !important;
}